/* max-width: 600px; media query */
p {
    font-size: 8px;
    color: red;
}
nav ul{
    display: none;
    width: 0%;
    margin: 0;
}
main {
    margin: 0;
}
a {
    font-size: 8px;
}
footer {
    height: auto !important;
    justify-content: space-evenly;
}
footer section.account {
    /* width: 100% !important; */
    height: auto;
}
.account img {
    width: 3rem !important;
    margin: 10px 0 !important;
    height: auto;
}
footer h5, footer p, footer hr {
    display: none;
}