/* max-width: 600px; media query */
p {
    font-size: 8px;
    color: black;
}
nav ul{
    display: none;
    width: 0%;
    margin: 0;
}
main {
    margin: 0;
}
a {
    font-size: 8px;
}
footer {
    justify-content: space-evenly;
}
footer section.account {
    width: 100%;
    height: 20vh;
}
.account img {
    width: 3rem;
    margin: 10px 0;
    height: auto;
}
footer h5, footer p, footer hr {
    display: none;
}