/* screen and (min-width: 600px) and (max-width: 799px) */
p {
    font-size: 12px;
    color: darkblue;
}
nav { /*Disable the navigation and replace it with burger mode*/
    display: none;
    width: 0;
    margin: 0;
}
nav ul{
    display: none;
    width: 0%;
    margin: 0;
}
main {
    margin: 0;
}
#welcome-section article h1{
    font: 2.5rem 'Montserrat', sans-serif;
}
#welcome-section article p  {
    font: 1rem 'Quicksand', sans-serif;
}
/* Project of Works section */
section#projects h1 {
    font: 2rem 'Lato', sans-serif;
}
section div.row{
    width: 100%;
}
/* Contacts Section */
#contact article h3 {
    font: 3rem 'Montserrat', sans-serif;
} 
#contact article p{
    font: 0.8rem 'Lato', sans-serif;
}
footer {
    height: auto;
}
footer section.account {
    width: 100%;
    height: 20vh;
}
.account img {
    width: 3.5rem;
    height: auto;
}
footer h5, footer p, footer hr {
    display: none;
}