/* min-width: 800px; max-width: 1119px; media query */
/* Will look on having a burger or menu navigation system */
p {
    color: crimson;
}
/* Project of Works section */
section#projects h1 {
    font: 2.5rem 'Lato', sans-serif;
}
section div.row{
    width: 100%;
}
/* Contacts Section */
#contact article h3 {
    font: 3rem 'Montserrat', sans-serif;
} 
#contact article p{
    font: 0.8rem 'Lato', sans-serif;
}
footer section.account {
    width:  100%;
    height: 15vh;
}
footer h5, footer p {
    font-size: 10px;
}
footer hr { 
    bottom: 3.5vh;
}
footer h5, footer p, footer hr {
    display: none;
}
.account img {
    width: 3rem; /*Dunno the meaning of rem*/
}